<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,137}</string>
                <key>spriteSourceSize</key>
                <string>{136,137}</string>
                <key>textureRect</key>
                <string>{{137,952},{136,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buffalo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,137}</string>
                <key>spriteSourceSize</key>
                <string>{137,137}</string>
                <key>textureRect</key>
                <string>{{0,952},{137,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,136}</string>
                <key>spriteSourceSize</key>
                <string>{137,136}</string>
                <key>textureRect</key>
                <string>{{273,680},{137,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chicken.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{0,680},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,136}</string>
                <key>spriteSourceSize</key>
                <string>{137,136}</string>
                <key>textureRect</key>
                <string>{{136,544},{137,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crocodile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,136}</string>
                <key>spriteSourceSize</key>
                <string>{137,136}</string>
                <key>textureRect</key>
                <string>{{136,816},{137,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,136}</string>
                <key>spriteSourceSize</key>
                <string>{137,136}</string>
                <key>textureRect</key>
                <string>{{136,680},{137,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,136}</string>
                <key>spriteSourceSize</key>
                <string>{137,136}</string>
                <key>textureRect</key>
                <string>{{273,544},{137,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>elephant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,136}</string>
                <key>spriteSourceSize</key>
                <string>{137,136}</string>
                <key>textureRect</key>
                <string>{{273,816},{137,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,137}</string>
                <key>spriteSourceSize</key>
                <string>{136,137}</string>
                <key>textureRect</key>
                <string>{{273,952},{136,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giraffe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,137}</string>
                <key>spriteSourceSize</key>
                <string>{136,137}</string>
                <key>textureRect</key>
                <string>{{0,1089},{136,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,137}</string>
                <key>spriteSourceSize</key>
                <string>{136,137}</string>
                <key>textureRect</key>
                <string>{{136,1089},{136,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gorilla.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,136}</string>
                <key>spriteSourceSize</key>
                <string>{137,136}</string>
                <key>textureRect</key>
                <string>{{136,0},{137,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{0,544},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>horse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,136}</string>
                <key>spriteSourceSize</key>
                <string>{137,136}</string>
                <key>textureRect</key>
                <string>{{0,136},{137,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monkey.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{137,136},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,136}</string>
                <key>spriteSourceSize</key>
                <string>{137,136}</string>
                <key>textureRect</key>
                <string>{{273,0},{137,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>narwhal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{272,1089},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panda.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,136}</string>
                <key>spriteSourceSize</key>
                <string>{137,136}</string>
                <key>textureRect</key>
                <string>{{273,136},{137,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parrot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,136}</string>
                <key>spriteSourceSize</key>
                <string>{137,136}</string>
                <key>textureRect</key>
                <string>{{137,272},{137,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penguin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,136}</string>
                <key>spriteSourceSize</key>
                <string>{137,136}</string>
                <key>textureRect</key>
                <string>{{136,408},{137,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pig.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{0,408},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,136}</string>
                <key>spriteSourceSize</key>
                <string>{137,136}</string>
                <key>textureRect</key>
                <string>{{273,408},{137,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rhino.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{274,272},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sloth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,136}</string>
                <key>spriteSourceSize</key>
                <string>{137,136}</string>
                <key>textureRect</key>
                <string>{{0,272},{137,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snake.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{0,816},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TP_Animal.png</string>
            <key>size</key>
            <string>{412,1229}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7590c343d711d3e2e880e8911ef34de:f873fdc34cdd2cac838444cba4a6d6d0:e9ba6c06c4056068e434415c319fff5a$</string>
            <key>textureFileName</key>
            <string>TP_Animal.png</string>
        </dict>
    </dict>
</plist>
