<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,132}</string>
                <key>spriteSourceSize</key>
                <string>{154,132}</string>
                <key>textureRect</key>
                <string>{{283,256},{154,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buffalo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,152}</string>
                <key>spriteSourceSize</key>
                <string>{183,152}</string>
                <key>textureRect</key>
                <string>{{258,398},{183,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,128}</string>
                <key>spriteSourceSize</key>
                <string>{129,128}</string>
                <key>textureRect</key>
                <string>{{576,128},{129,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chicken.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,145}</string>
                <key>spriteSourceSize</key>
                <string>{128,145}</string>
                <key>textureRect</key>
                <string>{{130,398},{128,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,128}</string>
                <key>spriteSourceSize</key>
                <string>{145,128}</string>
                <key>textureRect</key>
                <string>{{705,128},{145,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crocodile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,128}</string>
                <key>spriteSourceSize</key>
                <string>{129,128}</string>
                <key>textureRect</key>
                <string>{{0,256},{129,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,157}</string>
                <key>spriteSourceSize</key>
                <string>{129,157}</string>
                <key>textureRect</key>
                <string>{{0,553},{129,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,128}</string>
                <key>spriteSourceSize</key>
                <string>{129,128}</string>
                <key>textureRect</key>
                <string>{{0,128},{129,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>elephant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,154}</string>
                <key>spriteSourceSize</key>
                <string>{183,154}</string>
                <key>textureRect</key>
                <string>{{441,398},{183,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,144}</string>
                <key>spriteSourceSize</key>
                <string>{130,144}</string>
                <key>textureRect</key>
                <string>{{0,398},{130,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giraffe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,162}</string>
                <key>spriteSourceSize</key>
                <string>{154,162}</string>
                <key>textureRect</key>
                <string>{{398,553},{154,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,171}</string>
                <key>spriteSourceSize</key>
                <string>{184,171}</string>
                <key>textureRect</key>
                <string>{{552,553},{184,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gorilla.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,128}</string>
                <key>spriteSourceSize</key>
                <string>{129,128}</string>
                <key>textureRect</key>
                <string>{{551,0},{129,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,128}</string>
                <key>spriteSourceSize</key>
                <string>{154,128}</string>
                <key>textureRect</key>
                <string>{{140,0},{154,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>horse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,141}</string>
                <key>spriteSourceSize</key>
                <string>{129,141}</string>
                <key>textureRect</key>
                <string>{{565,256},{129,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monkey.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,128}</string>
                <key>spriteSourceSize</key>
                <string>{174,128}</string>
                <key>textureRect</key>
                <string>{{129,128},{174,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,162}</string>
                <key>spriteSourceSize</key>
                <string>{269,162}</string>
                <key>textureRect</key>
                <string>{{129,553},{269,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>narwhal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,155}</string>
                <key>spriteSourceSize</key>
                <string>{138,155}</string>
                <key>textureRect</key>
                <string>{{762,398},{138,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{423,0},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panda.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,128}</string>
                <key>spriteSourceSize</key>
                <string>{174,128}</string>
                <key>textureRect</key>
                <string>{{680,0},{174,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parrot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,128}</string>
                <key>spriteSourceSize</key>
                <string>{129,128}</string>
                <key>textureRect</key>
                <string>{{294,0},{129,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penguin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,128}</string>
                <key>spriteSourceSize</key>
                <string>{140,128}</string>
                <key>textureRect</key>
                <string>{{0,0},{140,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pig.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,128}</string>
                <key>spriteSourceSize</key>
                <string>{144,128}</string>
                <key>textureRect</key>
                <string>{{432,128},{144,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,176}</string>
                <key>spriteSourceSize</key>
                <string>{129,176}</string>
                <key>textureRect</key>
                <string>{{736,553},{129,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rhino.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,128}</string>
                <key>spriteSourceSize</key>
                <string>{154,128}</string>
                <key>textureRect</key>
                <string>{{129,256},{154,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sloth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,128}</string>
                <key>spriteSourceSize</key>
                <string>{129,128}</string>
                <key>textureRect</key>
                <string>{{303,128},{129,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snake.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,142}</string>
                <key>spriteSourceSize</key>
                <string>{128,142}</string>
                <key>textureRect</key>
                <string>{{822,256},{128,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walrus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,138}</string>
                <key>spriteSourceSize</key>
                <string>{128,138}</string>
                <key>textureRect</key>
                <string>{{437,256},{128,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>whale.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,154}</string>
                <key>spriteSourceSize</key>
                <string>{138,154}</string>
                <key>textureRect</key>
                <string>{{624,398},{138,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zebra.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,141}</string>
                <key>spriteSourceSize</key>
                <string>{128,141}</string>
                <key>textureRect</key>
                <string>{{694,256},{128,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>animal.png</string>
            <key>size</key>
            <string>{950,729}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d5a71e638258b8de51cea4822e439e9:95c99fa074f6e41ebd41900e2c0e5ac7:b4ee94f79ccd2f0aa75890e22ad92016$</string>
            <key>textureFileName</key>
            <string>animal.png</string>
        </dict>
    </dict>
</plist>
